.hat {
	height: 50px;
	width: 100%;
	background: #9393A4;	
	padding: 0px;
	margin: 0;
	display: inline-block;
	#position: fixed;
	#top: 0;
}
.logo {
	margin: 0 0 0 10%;
	width: 200px;
}
/* класс формы на странице входа и регистации */
.welcome {
	margin: auto;
	position: relative;
	width: 80%;
	display: inline;
	
}
.wform {
	width: 40%;
	display: inline-block;
	
}
#razd {
	width: 10%;
	display: inline-block;
}

input {
	width: 100%;
	height: 30px;
	font-size: 14pt;
}
/* класс белого пространства для страницы */
.board {
	width: 80%;
	height: auto;
	min-height: 500px;
	min-width: 800px;
	margin: 15px auto 50px auto;
	padding-bottom: 40px;
	background: #F7F9F9;
	border-radius: 5px;
	border: 1px solid #97B1C3;
	text-align: center;
	#box-shadow: 0.4em 0.4em 5px;
}

h1 {
	margin: 5px;
}
h2 {
	margin: 20px ;	
}
body {
	margin: 0;
	background: #DFDDCD;
	color: #261B30;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	font-size: 14pt;
}
	
.green_msg {
	position: fixed;
	padding: 5px;
	top: 50px;
	left: 0px;
	border: 1px solid #293834;
	background-color: #6BCA80;
	color: #293834;
	font-weight:bold;
}
.red_msg {
	position: fixed;
	padding: 5px;
	top: 50px;
	left: 0px;
	border: 1px solid #5F434E;
	background-color: #dd8e99;
	color: #5F434E;
	font-weight:bold;
}
	