
#newnote {
	width: 90%;
	margin: 20px;

	float: left;
}

#notetitle {
	float: left;
	width: 45%;
	font-size: 20pt;
	margin-bottom: 5px;
	border-radius: 5px;
}

#notetext {
	float: left;
	width: 55%;
	/*min-width: 45%;*/
	height: 200px;
	font-size: 13pt;
	resize: vertical;
	border-radius: 5px;
}
/*
.sharedusers {
	font-size: 14pt;
	width: 50%;

}*/

#rec {
	margin: 15px 0 0 0;
	width: 300px;
	font-size: 14pt;
	float: right;
	display: inline-block;
}

#divfav {
	font-size: 18pt;
	padding: 0;
	float: right;
	margin: 0 auto 5px 15px;
	width: 305px;
	height: 450px;
	top: -40px;
	position: relative;
	display: inline-block;
}

#favorites {
	background-color: rgba(247, 249, 249, 0.6);
	font-size: 15pt;
	border: 1px solid #333333;
	border-radius: 3px;
	padding: 4px;
	margin: 0 auto;
	width: 300px;
	height: 400px;
}
